@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    font-family: "Kanit";
}

body {
    padding: 0;
    margin: 0;
}

/* Flex list */

.flexCentre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Arrow up & button return */
.buttonReturn {
    width: 50px;
    height: 50px;
    background-color: rgb(78, 76, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.arrowUp {
    width: 32px;
    height: 20px;
    background-color: white;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

/* Header */

h1 {
    font-family: "Kanit";
    font-size: 2.1em;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(165, 128, 6, 0.486);
    padding: 1%;
    margin: 0;
}

#logo {
    width: 35%;
}

.logoContainer {
    width: 30%;
}

.titleContainer {
    width: 30%;
}

.underlineSeparationHeader {
    width: 100%;
    height: 0.4vh;
    background-color: rgba(165, 128, 6, 0.527);
    box-shadow: rgba(165, 128, 6, 0.527) 4px 3px 4px;
}

/* NAV HEADER */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.div_NavObject {
    margin-right: 10%;
    width: 100%;
}

.nav_blocItem {
    width: 20%;
    height: 30%;
    cursor: pointer;
}

.nav_Object {
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
    padding-left: 5%;
    font-size: larger;
}

.nav_Object::after {
    content: '';
    position: absolute;
    align-self: center;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 2px;
    background-color: black;
    transform: translate3d(-100%, 0, 0);
    transition: transform 200ms;
}

.nav_Object:hover::after,
.nav_Object:focus::after {
    transform: translate3d(0, 0, 0);
}

/* Button command */
.divCommandButton {
    margin: 0% 0 5% 0;
}

.commandButton {
    width: 60%;

    background-color: rgb(134, 19, 19);
    color: white;
    font-size: larger;

    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.486) 3px 3px 4px;
    cursor: pointer;

    transition: background-color 300ms, color 300ms, box-shadow 300ms;
}

.commandButton:hover {
    color: whitesmoke;
    background-color: rgb(170, 15, 15);
    box-shadow: rgba(0, 0, 0, 0.486) 4px 5px 4px;
    transform: transition();
}


/* Background img */

.backgroundGlobal {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/rightburger.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

/* separation point */

.underlineSeparation {
    width: 100%;
    height: 2px;
    background-color: black;
}

/* Container */

.container {
    height: 100%;
    width: 35%;
    background-color: white;
    padding: 2%;
}

/* Section 1 */
#wware {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Section 2 */
#menuOverview {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menuBloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#smallParagraph {
    font-size: medium;
    color: black;
}

h2 {
    margin: 2% 0 0 0;
}

/* Card */

.cardMenu {
    width: 30%;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms, width 300ms, height 300ms, box-shadow 300ms;

}

.cardMenu:hover {
    background-color: rgb(163, 162, 162);
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.486) 4px 5px 4px;
    transform: transition();
}

.imgMenu {
    width: 100%;
}

.imgCard {
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
}

.bodyMenu {
    padding-left: 5%;
}

/*  Footer  */
footer {
    background-color: rgba(165, 128, 6, 0.527);
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divEndLogo {
    width: 50%;
}

#endLogo {
    width: 30%;
}

.footerBar {
    width: 100%;
    display: flex;
    justify-content: start;
}

.informationContact {
    display: flex;
    flex-direction: column;
}

.divContact {
    width: 50%;
}

.spaceGap {
    margin-left: 3%;
}



/* *****************MEDIA QUERIES************************** */


/* ------------------Tablette------------------------------ */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* //////// UP BUTTON ////////// */
    .buttonReturn {
        width: 40px;
        height: 40px;
    }

    .arrowUp {

        width: 25px;
        height: 15px;
    }

    /* //////////////// HEADER ///////////// */
    .headerContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    header {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    /* Logo container */
    .logoContainer {
        width: 20%;
        height: auto;
        align-self: center;
    }

    #logo {
        width: 100%;
    }

    /* Title container */
    .titleContainer {
        width: auto;
    }

    /* Navigation menu */

    .nav_container {
        width: 80%;

    }

    .nav_blocItem {
        width: auto;
        height: auto;
        margin: 0 15% 0 15%;
    }

    .nav_Object {
        padding: 0;
        overflow: visible;
        margin-left: 10%;
    }

    .nav_Object::after {
        display: none;
    }

    /* Main container  */
    .container {
        width: 80%;
    }

    /* Footer */
    footer {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footerBar {
        justify-content: center;
    }
    .divContact {
        width: auto;
        justify-content: center;
    }
    #endLogo {
        width: 50%;
    }
    .divEndLogo {
        margin: 1%;
        display: flex;
        justify-content: center;
    }
}

/* ------------------------Téléphones------------------------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 420px)  {
    
 /* //////// UP BUTTON ////////// */
 .buttonReturn {
    width: 40px;
    height: 40px;
}

.arrowUp {

    width: 25px;
    height: 15px;
}

/* //////////////// HEADER ///////////// */
.headerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* Logo container */
.logoContainer {
    width: 40%;
    height: auto;
    align-self: center;
}

#logo {
    width: 100%;
}

    /* Title container */
    .titleContainer {
        width: auto;
    }

    /* Navigation menu */
    nav {
       margin-left: 15%;
       width: auto;
    }
    .nav_container {
        width: 80%;

    }

    .nav_blocItem {
        width: auto;
        height: auto;
        margin: 0 5% 0 5%;
    }

    .nav_Object {
        padding: 0;
        overflow: visible;
        margin-left: 10%;
    }
    .nav_Object::after {
        display: none;
    }
    /* Main container */
    .container {
        width: 80%;
    }
    .backgroundGlobal {
        background-size: 300%;
    }
    /* Article */
    .menuBloc {
        display: flex;
        flex-direction: column;
    }

    #smallParagraph {
        justify-content: center;
    }
    /* card */
    .cardMenu {
        width: auto;
        margin: 5% 0 5% 0;
    }
    .cardMenu:hover {
        width: auto;
    }
    .imgCard {
        width: 100%;
        height: 160px;
        
    }
     /* Footer */
     footer {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .footerBar {
        justify-content: center;
    }
    .divContact {
        width: auto;
        justify-content: center;
    }
    #endLogo {
        width: 70%;
    }
    .divEndLogo {
        margin: 1%;
        display: flex;
        justify-content: center;
    }
}